* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #eef;
    perspective: 700px;
}

input {
    font-family: 'Open Sans';
    padding: 1rem;
}

.front {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    backface-visibility: hidden;
}

div.searchbox {
    margin: auto;
    width: 100%;
    text-align: center;
    background: #eef;
    padding: 2rem;
    backface-visibility: hidden;
}

.searchbox input {
    width: 50%;
    margin: auto;
    font-size: 1rem;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Search results formatting */
div.title {
    width: 50%;
}

div.author {
    width: 40%;
}

div.language {
    width: 20%;
}

div.cover {
    width: 10%;
    float: right;
}

.resultsbox li:hover {
    background: #aaa;
}

div.resultsbox {
    width: 100%;
    padding: 2%;
    position: absolute;
    top: 122px;
    left: 0;
    display: none;
    backface-visibility: hidden;
}

.resultsbox li>div {
    display: block;
    float: left;
    height: 58px;
    line-height: 58px;
}

.resultsbox li {
    overflow: hidden;
    height: 58px;
    padding: 5px 0;
    background: #fff;
}

.resultsbox li:first-child {
    font-weight: bold;
}

.resultsbox li:first-child:hover {
    background: #fff;
}

/* Loading spinner */
.loading {
    background-image: url(images/loading_icon.gif);
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

/* citebox styling */
div.citebox {
    width: 100%;
    padding: 2%;
    transform: rotateY(180deg);
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    backface-visibility: hidden;
}

.citebox label, input {
    display: block;
    width: 80%;
}

.citebox img {
    width: 50%;
    float: left;
}

.full-line {
    width: 100%;
    padding: 2%;
}

.firstnamebox, .lastnamebox {
    display: inline-block;
    width: 35%;
}

.volume, .edition, .pages {
    display: inline-block;
    width: 23%;
}

#typeindicator {
    text-align: center;
    display: block;
    width: 80%;
}

.buttonbox {
    padding: 2rem;
    clear: both;
}

#backtoresults {
    display: block;
    margin: auto;
}

/* Pageselect styling */
.pageselect {
    border: 1px solid black;
    border-right: 0;
    border-left: 0;
    text-align: center;
}

.pageselector {
    width: 30px;
    display: inline-block;
    text-align: center;
}

.pageselector:hover {
    background: #aaa;
}

.highlight {
    background: #ccc;
}

form {
    width: 50%;
    float: right;
}

/* Flip effect stuff */
.card {
    width: 80%;
    margin: auto;
    transition: all 1s ease;
    transform-style: preserve-3d;
    position: relative;
}

.flip {
    transform: rotateY(180deg);
}

.flip360 {
    transform: rotateY(360deg);
}

/* clearfix */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}