* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 100px 0;
    background: #eef;
    perspective: 700px;
}

div.searchbox {
    width: 80%;
    margin: auto;
    position: relative;
    background: #fff;
}

input {
    width: 60%;
    margin: 2%;
    border: 0;
    padding: 0;
    background: #eee;
}

label {
    width: 20%;
    display: inline-block;
    margin: 2%;
    text-align: right;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Search results formatting */
div.title {
    width: 40%;
}

div.author {
    width: 30%;
}

div.language {
    width: 20%;
}

div.cover {
    width: 10%;
    float: right;
}

li:hover {
    background: #aaa;
}

div.resultsbox {
    width: 100%;
    padding: 2%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    display: none;
}

.resultsbox li>div {
    display: block;
    float: left;
    height: 58px;
    line-height: 58px;
}

.resultsbox li {
    overflow: hidden;
    height: 58px;
    padding: 5px 0;
}

.resultsbox li:first-child {
    font-weight: bold;
}

.resultsbox li:first-child:hover {
    background: #fff;
}

/* Loading spinner */
.loading {
    background-image: url(images/loading_icon.gif);
    background-repeat: no-repeat;
    background-position: 100% 0;
}


div.citebox {
    width: 100%;
    padding: 2%;
    transform: rotateY(180deg);
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    backface-visibility: hidden;
}

.citebox label {
    width: 30%;
}

.citebox input {
    width: 55%;
}

#backtoresults {
    display: block;
    margin: auto;
}

/* Pageselect styling */
.pageselect {
    border: 1px solid black;
    border-right: 0;
    border-left: 0;
    text-align: center;
}

.pageselector {
    width: 30px;
    display: inline-block;
    text-align: center;
}

.pageselector:hover {
    background: #aaa;
}

.highlight {
    background: #ccc;
}

/* Flip effect stuff */
.card {
    width: 80%;
    margin: auto;
    transition: all 1s ease;
    transform-style: preserve-3d;
    position: relative;
}

.flip {
    transform: rotateY(180deg);
}

.flip360 {
    transform: rotateY(360deg);
}

/* clearfix */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}